html {
  font-size: 62.5%;
}
body {
  padding-top: 184.38px;
  margin: auto;
  background-color: #1b1a1d;
  color: white;
  font-size: 1.6rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 200;
  line-height: normal;
}
main {
  max-width: 1000px;
  padding: 2rem;
  padding-top: 0rem;
  margin: auto;
}
h1 {
  color: #fd7291;
}

/* Paddings and margins */

h2,
section {
  margin-block-end: 3rem;
}
h3,
figure,
label,
input {
  margin-block-end: 1rem;
}
#examples {
  padding-block: 5rem;
  padding-inline: 2rem;
}
.transparentbox {
  padding: 2rem;
}
.transparentbox p {
  margin-block-end: 1rem;
}
.grey {
  padding: 0rem;
  padding-top: 1rem;
}
.cards {
  max-width: 1040px;
  margin: auto;
  margin-block-end: 2rem;
}
article p {
  margin-block-end: 1rem;
}

/* */

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #fd7291;
}
.footer {
  color: #ffdfe6;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: #ffdfe6;
  background-color: #1b1a1d;
  padding-block: 2rem;
  font-size: 2rem;
  margin-block-end: 0;
}
.navbar {
  padding-inline: 3rem;
  max-width: 1000px;
  margin: auto;
}

h2 {
  color: #ffdfe6;
  font-size: 2.5rem;
  scroll-margin-top: 184.38px;
  padding-top: 2rem;
}

#examples {
  background-image: url("images/asael-pena-7AFC_EoBMj8-unsplash.jpg");
  background-size: cover;
}
.transparentbox {
  background-color: rgba(0, 0, 5, 0.7);
}
#examples p {
  color: #ffdfe6;
}
#examples ol {
  list-style: decimal outside;
  color: white;
  padding-inline-start: 2rem;
}
#examples a {
  color: white;
  font-style: italic;
}
#examples a:hover {
  color: #ffdfe6;
}
#menneisyys {
  color: black;
  background-color: #ffdfe6;
  margin-block-start: -3rem;
  padding: 1rem;
}
#menneisyys h2 {
  color: black;
}
article {
  border-radius: 1rem;
  background-color: white;
  padding: 1rem;
}
article h3 {
  color: #fd7291;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

article img {
  max-width: 100%;
  border-radius: 50%;
}
article a {
  color: #fd7291;
  text-decoration: italic;
}
article a:hover {
  color: #ffdfe6;
}
.grey {
  border-block-start: 1.5px #ffdfe6 solid;
  overflow: clip;
}
.grey p {
  min-height: 233.33px;
}
.grey img {
  display: block;
}
#nykyisyys-img {
  float: right;
  max-width: 350px;
  margin-inline-start: 3rem;
  margin-block-end: 2rem;
}
#tulevaisuus-img {
  float: left;
  max-width: 350px;
  margin-inline-end: 3rem;
  margin-block-end: 2rem;
}
footer {
  padding-inline: 2rem;
}
.footer {
  border-block-start: 1.5px #ffdfe6 solid;
  padding-block: 2rem;
  max-width: 1000px;
  margin: auto;
}

/* FLEX */

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}
.navbar > * {
  flex-grow: 1;
  flex-basis: 100%;
}
.navbar > .header1 {
  margin-block-end: 1rem;
}
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}
.cards > * {
  flex-grow: 1;
  flex-basis: 100%;
}
.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1rem;
}
.card > * {
  flex-grow: 1;
  flex-basis: 100%;
}
.form-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.form-row label {
  flex-grow: 0;
  flex-basis: 100%;
}
.form-row input {
  flex-basis: 100%;
  flex-grow: 0;
  padding: 0.5rem;
}
.submit {
  text-align: center;
}
#submitbutton {
  padding: 1rem;
  background-color: #fd7291;
  color: white;
  border-radius: 0.5rem;
  border: 0px;
  margin-top: 1rem;
}
#submitbutton:hover {
  background-color: #ffdfe6;
  color: #fd7291;
}

/* Tablet view */
@media screen and (min-width: 426px) {
  body {
    padding-top: 140.63px;
  }
  main {
    padding: 3rem;
    padding-top: 0rem;
  }
  h2 {
    scroll-margin-top: 140.63px;
  }
  #examples {
    padding-inline: 5rem;
  }
  .navbar {
    text-align: left;
    justify-content: end;
  }
  .navbar > * {
    flex-grow: 0;
    flex-basis: auto;
    margin-inline-start: 1rem;
  }
  .navbar > .header1 {
    flex-basis: 100%;
    flex-grow: 0;
    margin-inline-start: 0rem;
  }
  .navbar > .contact-link {
    margin-top: 1rem;
    margin-inline-start: 0rem;
    flex-grow: 1;
    flex-basis: 100%;
    text-align: right;
  }
  .navbar > .contentlink {
    flex-grow: 0;
  }
  footer {
    padding-inline: 3rem;
  }
}

/* Desktop view */

@media screen and (min-width: 769px) {
  body {
    padding-top: 66.88px;
  }
  h2 {
    scroll-margin-top: 66.88px;
  }
  .navbar {
    flex-wrap: nowrap;
    justify-content: end;
  }
  .navbar > .contact-link {
    flex-basis: 0;
  }
  .navbar > * {
    flex-grow: 1;
    flex-basis: 0;
    margin-inline-start: 1rem;
  }
  .navbar > .header1 {
    margin-block-end: 0rem;
  }
  .navbar > .contact-link {
    margin-top: 0rem;
    margin-inline-start: 1rem;
  }
  .cards {
    flex-wrap: nowrap;
    justify-content: center;
    padding-inline: 2rem;
  }
  .cards > * {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 350px;
    gap: 1rem;
  }
  article.card {
    display: block;
  }
  .form-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .form-row label {
    flex-grow: 2;
    flex-basis: 0;
    margin-block-end: 0;
  }
  .form-row input {
    flex-basis: 0;
    flex-grow: 7;
  }
}

/* Kortit vaakatasossa tablet-näkymässä */
@media screen and (min-width: 426px) and (max-width: 769px) {
  article.card {
    display: block;
    height: auto;
    overflow: hidden;
  }
  article.card h3 {
    display: block;
    min-width: 100%;
    text-align: left;
  }
  article.card img {
    max-width: 200px;
    float: right;
    margin-left: 0.5rem;
    display: block;
  }
}
